html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: middle;
}

@font-face {
    font-family: pacifico;
    font-style: normal;
    font-weight: normal;
    src: url(font/pacifico.ttf);
}

@font-face {
    font-family: sez-who;
    font-style: normal;
    font-weight: normal;
    src: url(font/Sez-Who.ttf);
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{

	 
	background: #213a7c url('images/bolas.png') repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	font-family: 'Lato',"Open Sans", Arial;
	transition: ease-in-out all 300ms;
}
.soon {
	width: 100%;
    margin: auto;
    position:absolute;
    left:0; 
    top: 20%; 
    right:0;
    bottom:0;
    max-width:100%;
    max-height:100%;
    text-align: center;
    
}
.soon img {
	width: 40%;
}

.soon h1 {
	text-align: center;
	color: #fff;
	font-size: 7em;
	font-family: 'pacifico';
	font-weight: 400;
                
	text-shadow: 5px 0 #d14359, 0 5px #d14359,

      5px 0 #d14359, 0 -5px #d14359, 4px -5px #d14359, -4px 2px #d14359;
    
}


.soon p{
	color: yellow;
	font-weight: bold;
	font-family: 'sez-who';
	font-weight: 300;
	text-align: center;
  	margin: 0 auto;
  	font-size: 2em;
  	padding-top: 1.2em;
  	text-shadow: 3px 0px 0px #213a7c, 
                 -3px 0px 0px #213a7c, 
                 0px 3px 0px #213a7c, 
                 0px -3px 0px #213a7c;
}

.count {
	text-align: center;
	color: #fff;
}

.clock {
    font-size: 90px;
    text-align:center;
}

